.Nav {
    display: flex;
    /* flex-direction: column; */
}


.NavLink {
    font-size: 19px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: .8s;
}

.NavLink:hover {
    color: aqua;
}

.NavLink::after {
    content: '';
    background: #a50000;
    height: 0.2rem;
    width: 0;
    position: absolute;
    bottom: -.3rem;
    left: -.5rem;
    transition: .8s;
}



.NavLink:hover::after {
    width: 120%;
}

.NavLink:nth-child(2):hover::after {
    width: 5.2rem;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Rrowdies", sans-serif;
}


/* Nvabar Start */

.nav,
.nav-click {
    height: 70px;
    font-size: 1.5rem;
    /* margin-bottom: 1rem; */
}

.logo .NavLink span {
    font-family: "canveat", cursive;
}


.line {
    background: white;
    height: .2rem;
    width: 3rem;
    margin-bottom: .5rem;
}

.nav-items .NavLink {
    cursor: pointer;
    transition: 1s;
}


.nav-items p:hover {
    color: aqua;
}

/* Navbar End */


@media (max-width:770px) {

    .nav,
    .nav-click {
        height: 60px;
    }

    .nav-items {
        position: fixed;
        right: -39rem;
        top: 0rem;
        background: #000;
        color: white;
        width: 15rem;
        height: 100vh;
        transform: rotate(50deg);
        transition: 1s;
        overflow: hidden;
    }

    .nav-item  {
        margin-top: 8rem !important;
    }

    .nav-click .nav-items {
        transform: rotate(0deg);
        right: 0rem;
    }



    .lines {
        display: flex;
        z-index: 2;
    }

    .line {
        transition: 1s;
    }

    .nav-click .lines :nth-child(1) {
        transform: rotate(-140deg);
    }

    .nav-click .lines :nth-child(2) {
        transform: rotate(140deg);
    }

}



/* 
git commit -m "Navbar Addedt"
git branch -M main
git push -u origin main */