.NavLink {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    transition: 2s;
}

.NavLink::after {
    content: '';
    background: #a50000;
    height: 0.5rem;
    width: 5rem;
    position: absolute;
    bottom: 0;
    display: none;
    }
    
    
    
    .NavLink:hover:after {
        /* height: 0.5rem; */
        right: 11rem;
        display: block;
}